{# src/ONN/BrunBundle/Resources/view/layout.html.twig #}
{# base layout #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Aesop Games - we strive to make innovative games which entertain while also engaging players' critical thinking and imagination.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% javascripts
    '@ONNAesopGamesBundle/Resources/public/js/jquery-1.8.0.min.js'
    '@ONNAesopGamesBundle/Resources/public/js/bootstrap.min.js'
    '@ONNAesopGamesBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}" filter='yui_js'></script>
    {% endjavascripts %}

    {% stylesheets output='css/*.css' filter='cssrewrite' debug=false
    'bundles/onnaesopgames/css/bootstrap.css'
    'bundles/onnaesopgames/css/jquery-ui-1.10.3.custom.css'
    'bundles/onnaesopgames/css/overall.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href={{ asset('bundles/onnaesopgames/images/favicon.ico') }} type=”image/x-icon”v>
    <style>
        body {
            padding-top: 70px;
            padding-bottom: 30px;
        }

        .theme-dropdown .dropdown-menu {
            display: block;
            position: static;
            margin-bottom: 20px;
        }

        .theme-showcase > p > .btn {
            margin: 5px 0;
        }
        @font-face { font-family: Almendra; src: url('http://fonts.googleapis.com/css?family=Almendra+SC'); }

        .almendra {
            font-family: Almendra !important;
        }

        .btn-custom-success {
            color: #FFFFFF !important;
            background-color: #9FD4A2 !important;
            border-color: #306630 !important;
        }

        .btn-custom-success:hover,
        .btn-custom-success:focus,
        .btn-custom-success:active,
        .btn-custom-success.active,
        .open .dropdown-toggle.btn-custom-success {
            color: #FFFFFF;
            background-color: #42B330;
            border-color: #306630;
        }

        .btn-custom-success:active,
        .btn-custom-success.active,
        .open .dropdown-toggle.btn-custom-success {
            background-image: none;
        }

        .btn-custom-success.disabled,
        .btn-custom-success[disabled],
        fieldset[disabled] .btn-custom-success,
        .btn-custom-success.disabled:hover,
        .btn-custom-success[disabled]:hover,
        fieldset[disabled] .btn-custom-success:hover,
        .btn-custom-success.disabled:focus,
        .btn-custom-success[disabled]:focus,
        fieldset[disabled] .btn-custom-success:focus,
        .btn-custom-success.disabled:active,
        .btn-custom-success[disabled]:active,
        fieldset[disabled] .btn-custom-success:active,
        .btn-custom-success.disabled.active,
        .btn-custom-success[disabled].active,
        fieldset[disabled] .btn-custom-success.active {
            background-color: #9FD4A2;
            border-color: #306630;
        }

        .btn-custom-success .badge {
            color: #9FD4A2;
            background-color: #FFFFFF;
        }
        .btn-custom {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            margin-bottom: 10px;
        }
        .btn {
            margin-bottom: 10px;
        }

        .btn-custom:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .btn-custom:hover,
        .btn-custom:focus {
            color: #333333;
            text-decoration: none;
        }

        .btn-custom:active,
        .btn-custom.active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }

    </style>
</head>
<body>
<div id="navbar">
    <!-- Fixed navbar -->
    {% render(controller('ONNAesopGamesBundle:Page:Navbar')) %}
</div>

<div id="main">
    {% block main %}
    {% endblock %}
</div>

<footer class="text-center" style="position:fixed; bottom: 0px; width: 100%;z-index:-1;">
    <img src="{{ asset('bundles/onnaesopgames/images/aesopgames-small.png') }}">
    <p style="color:white">&copy; Aesop Games 2014</p>
</footer>

<script>
    $.backstretch('{{ asset('bundles/onnaesopgames/images/city.jpg') }}');

    function selectMain(path) {
        document.body.style.cursor="wait";
        $.get( path,
            function(data){
                $('#main').empty().html(data);
                //the response is in the data variable
                document.body.style.cursor="auto";
                data = null;
                $.get( '{{ path ('navbar') }}',
                    function(data){
                        $('#navbar').empty().append(data);
                        var stateObj = { foo: "bar" };
                        history.replaceState(stateObj, "Aesop Games", path);
                    }
                );
            }
        );
        return false;
    }
</script>
</body>
</html>
