{% extends 'ONNAesopGamesBundle::layout.html.twig' %}

{% block main %}
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '325678044258995',
                xfbml      : true,
                version    : 'v2.0'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container theme-showcase">
        <div class="jumbotron" style="opacity: .8;padding:10px;z-index:100;">
            <p style="display:inline"><b>Brunelleschi: Age of Architects</b> Bootstrap Beta</p>
            <a target="_blank" href="http://brunegame.com" class="btn btn-primary btn-lg pull-right" role="button">Play Now &raquo;</a>
        </div>
        <div class="page-header" style="margin-top:0px;">
            <h1 class="pull-left almendra" style="margin:0px;padding:0px; color:white; font-size: 48px; font-weight:bold;">Support Aesop Games</h1>

            <div style="background: white; border: solid green 3px; width:130px;text-align:center; padding: 5px;margin-bottom:10px;" class="ui-corner-all pull-right">
                <a href="http://twitter.com/share?text=Support games like #brunegame made by folks who want you to love playing them! And checkout @brunegame now!&url=http://aesopgames.com/app.php/support" target="_blank" title="Share This on Twitter">
                    <img src="{{ asset( twitter_image ) }}" style="width:32px; height: 32px">
                </a>

                <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u=http://aesopgames.com/app/php/support'+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                <a href="http://www.facebook.com/share.php?u=<full page url to share>" onClick="return fbs_click()" target="_blank" title="Share This on Facebook"><img src="{{ asset( facebook_image ) }}" alt="facebook" width="32" height="32" border="0" /></a>

                <a href="https://plus.google.com/share?url=http://aesopgames.com/app.php/support" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
                            src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share This on Google+"/></a>
            </div>
            <div style="clear:both"></div>
            <div class="alert alert-success" style="border: green 2px solid; opacity: .9;">
                <h4>Aesop Games is working to raise funds for completing Brunelleschi: Age of Architects and embarking on new projects!</h4>
                <p>Information on our team, project, and progress put together towards that effort as well as perks available to supporters will be updated here.</p>
                <p>If you have already supported us through an online campaign, but see a similarly priced Perk here that you would rather have, get in touch and we will be happy to update your reserved Perk.</p>
                <p style="font-weight:bold; text-align:right; margin-right:10px;margin-top:10px;">Jump to information about <a href="#looking-forward">the Game</a>, <a href="#overview">the Team</a>, <a href="#rewards">the Perks</a>, <a href="#stretch">the Stretch Goals</a>.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-4 text-center">
                {% for type,image in fundraisers.rockethub %}
                    {% if type == 'live' or type == 'stretch' %}
                        {% set button_class = 'btn-custom btn-custom-success' %}
                    {% else %}
                        {% set button_class = 'btn btn-default' %}
                    {% endif %}
                    <button class="btn-large {{ button_class }}" {% if type == 'comingsoon' %}disabled="disabled"{% endif %} style="opacity: .9">
                    <img src="{{ asset( image ) }}" class="img-rounded" style="height: 104px; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                    </button>
                {% endfor %}
            </div>
            <div class="col-md-4 text-center">
                {% for type,image in fundraisers.indiegogo %}
                    {% if type == 'live' or type == 'stretch' %}
                        {% set button_class = 'btn-custom btn-custom-success' %}
                    {% else %}
                        {% set button_class = 'btn btn-default' %}
                    {% endif %}
                    <button class="btn-large {{ button_class }}" {% if type == 'comingsoon' %}disabled="disabled"{% endif %} style="opacity: .9">
                        <img src="{{ asset( image ) }}" class="img-rounded" style="height: 104px; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                    </button>
                {% endfor %}
            </div>
            <div class="col-md-4 text-center">
                {% for type,image in fundraisers.kickstarter %}
                    {% if type == 'live' or type == 'stretch' %}
                        {% set button_class = 'btn-custom btn-custom-success' %}
                    {% else %}
                        {% set button_class = 'btn btn-default' %}
                    {% endif %}
                    <button class="btn-large {{ button_class }}" {% if type == 'comingsoon' %}disabled="disabled"{% endif %} style="opacity: .9">
                        <img src="{{ asset( image ) }}" class="img-rounded" style="height: 104px; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                    </button>
                {% endfor %}
            </div>
        </div>
        <script>
            $(function(){

                $.get( '{{ path ('perks') }}',
                        function(data){
                            $('#perks-div').html(data);

                            var content = '<img src="{{ asset( stretch_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( stretch_image ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">';
                            $("#stretch-div").html(content);
                        }
                );
            });
        </script>
        <div class="row">
            <div class="col-md-8">
                {# Info Panel 1 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">A Brief Intro to The Team and The Project</h3>
                    </div>
                    <div class="panel-body">
                        {# Replace with word image: social strategy role playing ? #}
                        {#
                        <h4>Brunelleschi is ...</h4>
                        <li>[a role playing game] image</li>
                        <li>[a city building game] image</li>
                        <li>[a social strategy game] image</li>
                        <li>[set in the mythic renaissance] image</li>
                        <li>[where brave and daring Heroes adventure and advance] image</li>
                        <li>[in the cities, economies, and cultures constructed by teams of brilliant Lords] image</li><br/>
                        #}

                        <p style="margin-top:10px;"><b>Characters in Brunelleschi are either Heroes or Lords.</b>.</p>

                        <p>Will you build walls or markets? Will you build magic shops or train Troops? Will you obey the conventions of society or pursue secret actions and the life of a criminal?</p>
                        <p>Play a Lord and you gain the glorious opportunity to take the world on your shoulders as a Sovereign or Minister, building and managing the great Settlements of the World.</p>
                        <p>Play a Hero and find yourself wrapped in glory! Rescue your settlement by fending off hungry peasants and enemy armies or take up banditry and begin learning the secret ways of the criminal. Rise in level and rank as you decide where your character fits in the grand political scheme.</p>
                        <p>Own Alchemy Shops and vote in a Magiocratic government! Gather members of the clergy to overthrow an Aristocracy and replace it with Socialism! Or replace Fascism with a Free Market!</p>
                        <p>Both types of characters can wear specialized equipment, own buildings, and make a mint in the player run markets. With 50 districts per settlement and over 900 varieties of equipment, the possibilities are endless!</p>

                        <p>Each District in a Settlement can employ a Minister, a major element of Gameplay, which allows Lords to team up and build impressive Settlements that a single player would struggle to effectively manage. A Sovereign can benefit from up to <b>49 friends</b> assisting them as Ministers and more as Citizens and Residents in their shared epic journey through a Historical Fantasy Renaissance.</p>
                            <a href="#looking-forward"><button class="btn btn-info pull-right" style="margin:10px;">Learn More</button></a></p>

                        <img id="overview" src="{{ asset( map_image )|apply_filter("map") }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 10px; margin-bottom: 10px; display:block">
                        {#
                        <img src="{{ asset( team ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        #}
                        <p>Aesop Games is a small, currently three-member studio. We believe in making really interesting games that offer players a little something they’ve never had before. Brunelleschi is our idea of an educational game in which players have the opportunity to relive the extraordinary circumstances of the Renaissance with a few fun additions like the definite existence of magic and gender equality.</p>

                            <p>In short, we make games because:</p>
                            <li>Designer Matt has always loved designing games that are fun to play</li>
                            <li>Unity Developer Rebecca had found game development to be the perfect cross between visual art and compelling storytelling</li>
                            <li>Programmer Margaret’s dedication to educational gaming and doing things that don’t require spines have inspired her to learn to program Brune’s engine and Web client</li>

                        <img src="{{ asset( team_image )|apply_filter('team') }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">

                        <a target="_blank" class="popularitybtn pull-left" href="http://www.indiedb.com/games/brunelleschi" title="View Brunelleschi on Indie DB"><img src="http://button.indiedb.com/popularity/medium/games/28789.png" alt="Brunelleschi" style="margin-top:10px;margin-bottom:10px;"></a>
                        <a target="_blank" class="ratingbtn pull-right" href="http://www.indiedb.com/games/brunelleschi" title="View Brunelleschi on Indie DB"><img src="http://button.indiedb.com/rating/medium/games/28789.png" alt="Brunelleschi"  style="margin-top:10px;margin-bottom:10px;"></a>
                    </div>
                </div>
                {# Info Panel Call to Action #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">You Decide Our Budget</h3>
                    </div>
                    <div class="panel-body">
                        <h2>Off the Grid Development</h2>
                        <p>We keep our economic footprint tiny so that we can develop games, but that also leaves us without a development budget. While we can and are making Brunelleschi a <b>good</b> game on our own, your support could allow us to make it <b>Great</b>.</p>

                        <h2>You decide the Budget!</h2>
                        <p>We’ll make whatever game the community decides to fund! Want to see an MMORPG-sized Brune Server? If you trust us with the budget, we’ll give you the game you want! If not, we’ll make a little web-game and give that to the Community, but you could help us turn this little project into a FULL SIZED WORLD!</p>

                        <h2>Good Alone - Great With You</h2>
                        <p>Brunelleschi is a really good game that we are proud to be making, but it could be a Great game. Brunelleschi was designed to bring people together in play.</p>
                        <p>These features deepen and come to life the more people are using them - and that means players! Any player joining makes the whole game better every time they play!</p>
                        <p>We will use any budget we receive to make the game more fun for more players! We will invest in world interactions, faster servers, snazzier 3D models, more animations, and all the cool features we can afford!</p>
                    </div>
                </div>
                {# Info Panel Call to Action 2 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Game Belongs to The Players</h3>
                    </div>
                    <div class="panel-body">
                        <h2>The Game Belongs to The Players</h2>
                        <h4>Empowering people to have fun interacting is the heart of Brunelleschi.</h4>
                        <p>The markets are player run - with each player deciding their own prices, and each Settlement deciding its own tax rates for trades. With Direct Trades, players may even sidestep the market to negotiate specific exchanges with each other.</p>
                        <p>Settlements are designed to let groups of players work together as Sovereign, Ministers, Citizens, and Residents to build, grow, and govern a civilization of their imagining! Everyone can take part from the Hero Fighting Bandits and adding an extra hand to the Harvest, to Lord Ministers governing whole Districts. The greatest empires are all made by their Players!</p>
                        <p>The opinions of your peers matter a great deal to aspiring Lords as positive and negative feedback in the forums directly effects the Importance a Lord uses to advance in Rank. And the support of your fellow players will be sweet indeed when a Scenario comes along that needs their helping hands!</p>

                        <h2>Without Players There's No Game</h2>
                        <p>It would be great to have a budget to spend making the game Spiffy Polished Shiny and Iced with Awesomesauce, but even so it would all be to one end - to bring in more players which makes the game more fun! Players having fun - that's what we're on about.</p>
                        <p>Player driven markets - need players! Player fealty chains - need players! Player relationships, bonds, and duels - need players! So whether you're one of the awesome folks already playing, or one of the ones we want to get started, you are the heart of this project!</p>

                        <h2>You Are The Missing Ingredient</h2>
                        <p>If you haven't yet made a character - you are what this game needs! If you Have made a character - You are Also What this game Needs! Because this game is all about letting people make and be a cool character and using that character to take part in a larger very social fantasy world.</p>
                        <p>There are thirteen Zodiac signs (including Ophiuchus) for a new character to choose from - is your favorite being represented? If so, they may not have selected the same favored Season, Moonphase, day of the week, favorite Color combination that you would bring into the world of Brunelleschi - making it a richer place!</p>
                        <p>Looking deeper, for those who enjoy Role Play, there are all the Culture, Philosophy, and Religion options for Characters to choose to represent however they see fit. As well as similarly rich options for the various Government, Social, and Economic systems for player Settlements.</p>

                           <p>It just won’t be the same without you!</p>

                            <p>Brunelleschi needs every viewpoint and player type to be great. We need your playstyle and ideas, without the individual and unique qualities that you bring to gameplay, the story will be incomplete. This is a game for whole groups of players, and we need your voice to be heard in the councils and meeting halls of this Socio-Political Adventure! Your votes might make the difference between success and destruction for a City of Hundreds or even Thousands of other people!</p>
                    </div>
                </div>
                {# Info Panel 2 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">The State of Development</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( development_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( development_image ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        <p>A lot of the development of Brunelleschi is already done. The Aesop team has been working for years to complete was is currently the beta web-game. Check out the current state of development by playing with us at <a href="http://www.brunegame.com" target="_blank">Brunegame.com</a>. Track our progress in detail by checking up on our <a href="http://wiki.brunegame.com/index.php/Roadmap" target="_blank">Roadmap</a> and <a href="https://docs.google.com/a/aesopgames.com/spreadsheets/d/1DPWCGOYrx_CyQNuiheVRtLfpejAQfxAEhP17NjIoUok/edit#gid=0" target="_blank">Completion Documents</a></p>
                        <p>Initial funds will go to paying for the test and beta servers</p>
                        <p>Subsequent funds will be used for development services and software</p>
                        <p>Once overhead is covered we will be able to use whatever budget we receive on expanding Brunelleschi from an interesting and fun web game with a 3D client into a fully immersive 3D MMO world.</p>

                        <img src="{{ asset( plat_panel|replace({'png':'svg'}) ) }}" onerror="{{ asset( plat_panel ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 10px; margin-bottom: 10px; display:block">
                        <img src="{{ asset( badge_panel|replace({'png':'svg'}) ) }}" onerror="{{ asset( badge_panel ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 10px; margin-bottom: 10px; display:block">
                    </div>
                </div>
                {# Info Panel 3 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Risks and Challenges</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( challenge_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( challenge_image ) }}"  class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        <p>The beta version of Brunelleschi is available and free to play at <a target="_blank" href="http://brunegame.com">brunegame.com</a>, and we are dedicated to finishing the web game no matter how this campaign turns out. Even in extreme circumstances of injury or tragedy, the game could still be completed because: </p>
                        <ul>
                        <li>This game will be open sourced.</li>
                        <li>All code and image assets will be released on a three year delay from commit starting with commits made January of this year.</li>
                        <li>Documentation on getting a version of the game server up will be included in the open source release.</li>
                        <li>Admin tools have been built into the game to allow future administrators to customize the game even without needing to understand the code.</li>
                        <li>Since the game has been built in a well known framework, anyone with a strong desire to pick up and complete the project should be able to use existing documentation to do it.</li>
                        </ul>
                        <p>While the Beta server hasn't been totally immune to minor data loss, no Characters or Settlements have ever been deleted unintentionally and we've always been able to track down lost items and buildings quickly. The game is backed up frequently and we are generally quick to notice irregularities, but we do acknowledge that loss of hard earned digital property can occur, and is very frustrating.</p>
                    </div>
                </div>
                {# Info Panel 3a #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fund Allocation Pie Charts</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( budget_pies|replace({'png':'svg'}) ) }}" onerror="{{ asset( budget_pies ) }}"  class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                    </div>
                </div>
                {# Info Panel 3b #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Instant Rewards</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( instant_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( instant_image ) }}"  class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        <p>Some of the Rewards available to Supporters are 'Instant' in that they are game awards which we already have the infrastructure to provide, meaning we will deliver them as soon as we are able once the Campaign is complete and the contributions processed.</p>

                        <p>All contributors receive our Special Thanks and a Kickstarter Badge signifying their contribution to the Game.  Where their Special Thanks appear and the appearance and title of their Badge are determined by the level of contribution.  Supporters who provide Character information will receive these tokens of our appreciation both in the Live Beta, as soon as we are able, and in the launch server at version 1.0.</p>

                        <p>Contributors also all receive some amount of the Game's premium currency, Platinum Hyperpyrons.  This premium coin will be awarded both in the Live Beta at the completion of this Campaign, and then again in the 1.0 launch (at a rate up to a monthly maximum determined by the size of the active player base).</p>
                    </div>
                </div>
                {# Info Panel 3c #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rewards Calendar</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( rewards_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( rewards_image ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        <p>Not every reward can be instantly sent to you.</p>
                        <p>For our rewards that are early and easy access to future game features, here’s our best estimate of when we’ll get those features and your shiny rewards out.</p>
                        {% for filter,image in calendar_images %}
                            <img src="{{ asset( image )|apply_filter(filter) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 10px; margin-bottom: 0px; display:block">
                        {% endfor %}
                    </div>
                </div>
                {# Info Panel 4 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">How You Can Help</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( help_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( help_image ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        <p>Whether you are able to contribute today or not you can still help!  Please, spread the word about our campaign and about our game!  Folks may be into interesting new games, supporting entrepreneurship, or upgrading cyborgs, but they have to know what we're up to to be able to help!  So please,</p>
                        <ul>
                            <li>Tell folks about what we're doing!</li>
                            <li>Share this campaign through the built in options!</li>
                            <li>And point your gamer friends at our beta - the more players the better!</li>
                        </ul>

                        <div style="margin-left:auto;margin-right:auto;width:200px;text-align:center">
                            <a href="http://twitter.com/share?text=Support games like #brunegame made by folks who want you to love playing them! And checkout @brunegame now!&url=http://aesopgames.com/app.php/support" target="_blank" title="Share This on Twitter">
                            <img src="{{ asset( twitter_image ) }}" style="width:64px; height: 64px">
                        </a>

                        <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u=http://aesopgames.com/app/php/support'+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                        <a href="http://www.facebook.com/share.php?u=<full page url to share>" onClick="return fbs_click()" target="_blank" title="Share This on Facebook"><img src="{{ asset( facebook_image ) }}" alt="facebook" width="64" height="64" border="0" /></a>

                        <a href="https://plus.google.com/share?url=http://aesopgames.com/app.php/support" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
                                    src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+" title="Share This on Google+"/></a>
                        </div>
                        <p>Thank you for reading!</p>
                        <p>Please, get in touch if you have any questions or feedback :)</p>
                    </div>
                </div>
                {# Info Panel 5 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="looking-forward">Looking Forward</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( forward_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( forward_image ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        <p>Brunelleschi’s rich feature set will eventually be extended with a variety of ‘add-on’ features such as the establishment and management of Colonies, even more Social and Historical elements like Religious Conversion and extended Dynastic Lineages.</p>

                        <p>The game is an Evolving entity that is constantly being improved by the suggestions and feedback of our beta testers. In future, we hope to be able to go beyond the extensive features outlined in the Roadmap to add a 3D Unity Client, a 2D Unity Mobile Client, and many other interesting expansions outlined in the stretch goals.</p>
                        <p>Following are descriptions of the features currently implemented and available in the web client beta.</p>
                        <img src="{{ asset( game_property|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_property ) }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">

                        <div style="width:80%; margin-left:auto;margin-right:auto;">
                            <p>Any Character in Brunelleschi can own property.  When a Settlement in Brunelleschi is first founded, all that empty potential belongs to the founding Sovereign character.  If that Sovereign brings on Ministers to help them manage and expand their Settlement, those Ministers gain governance over the Sovereign's buildings and plots in the Districts they Administer.</p>

                            <p>All Character Classes gain the ability to Buy and Sell Property at some level.  Ministers and Sovereigns can choose to sell buildings or empty plots under their governance, and any Character which has previously purchased private property may then sell it.  Buildings may be destroyed and replaced, or have more resources invested in upgrading their construction to improve their output and bonuses.</p>

                            <p>Depending on rules set by the Sovereigns of each Settlement, a single Character may purchase and administer property in multiple settlements, although there are trade offs in productivity.</p>
                        </div>

                        <img src="{{ asset( game_craft|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_craft ) }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">
                        <div style="width:80%; margin-left:auto;margin-right:auto;">
                            <p>Resources like Grain and Flax are Harvested and then Processed into Goods like Bread and Linen which can then be Crafted into Items like Crossbows and Boots or used to Train Units like Lancers and Catapults.  Goods and Resources are also used in building construction, to pay Military Units, to upkeep Buildings, Units, and Equipment, and can be traded or sold on the Markets for currency or other items.</p>

                            <p>Resources and Goods are both additionally used to access some actions such as Fight in the Pit and Trade with Nomads, and to contribute to some group Scenarios.</p>

                            <p>All game items can be bought, sold, and traded through the extensive markets, as well as through the Direct Trade action which allows complex one on one negotiations.</p>
                        </div>
                        <img src="{{ asset( game_bond|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_bond ) }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">
                        <div style="width:80%; margin-left:auto;margin-right:auto;">
                            <h5>Relationships between Characters are a big part of Brunelleschi.</h5>

                            <p>Through a variety of Social actions Characters develop relationships both between each other and between their Settlements if they are not in the same one.  These Relationships can be made official through declarations of Friendship, Enmity, becoming Lovers, accepting a Handfasting, or becoming Married.  Enemy Characters may fight each other in Duels, wracking up kills and deaths, while Handfasted or Married Characters have Diplomatic benefits and limitations from their bond.</p>
                        </div>

                        <img src="{{ asset( game_diplomacy|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_diplomacy ) }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">
                        <div style="width:80%; margin-left:auto;margin-right:auto;">
                            <p>Diplomatic relationships between Settlements can have a huge impact on Gameplay.  For example, a Trade Treaty can bolster both economies by allowing trade between Residents of both Settlements as if they were local; whereas an Embargo prevents trade between them.</p>

                            <p>Negative Diplomatic relationships can lead to War, a costly business requiring a lot of well prepared Character support, and which can lead to building destruction, looting, and eventually even the occupation of Districts and toppling of governments.</p>

                            <p>Alliances between Settlements with positive relationships prevent hostile actions from being initiated between them, and allow Residents of all Allied Settlements to participate should a District in one be attacked.</p>
                        </div>

                        <img src="{{ asset( game_civics|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_civics ) }}"  class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">
                        <div style="width:80%;margin-left:auto;margin-right:auto;">
                            <p>Brunelleschi is not that different from the majority of city building games in that you collect resources and use them to construct Buildings, which then in turn provide Bonuses, Resources, Equipment, Troops, and monetary Income.</p>
                             <p>There are 65 district options in Brunelleschi, though even the largest Settlements will have to chose 50 or less of these. Since each District is composed of Buildings, they can also be customized, making it nearly impossible that 2 settlements will ever be exactly alike.</p>

                            <img src="{{ asset( construct_district )|apply_filter("screenshot-catalog-district") }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 10px; display:block;margin-left:auto;margin-right:auto;">

                            <p>The Buildings constructed in a Settlement will attract Citizens, both computer-generated NPCs to run the buildings, as well as Human Heroes and Ministers who want to benefit from the Settlement's economy, make use of District Actions, or just enjoy the ambiance or social environment of a Settlement.</p>

                            <p>This is fundamentally a game about player-driven politics and as such we have left all the critical decisions up to the players.</p>
                            <h4>Control over immigration, employment, taxation, warfare, diplomacy, private property, and all other settlement decisions are made by the Sovereign and their Ministers.</h4>
                            <p>Since we couldn't possibly predict everything players would want, we came at the problem from a different angle.</p>

                            <p>Every action a player takes, from harvesting to arson and sabotage, is recorded in their 'Personal Forum'. Some actions are reported in the 'Settlement' forum, which players can even write directly to once they learn to 'Report the News' and other useful civic information services. Anything that occurs in a public forum can be voted on by players, and these votes have a powerful effect on the importance and relationship ratings of the poster and the voter. This becomes especially important when dealing with world and settlement spanning 'Scenarios', as you could suffer badly at the hands of fellow players for triggering an unwanted event such as a Swarm of Locusts.</p>

                            <p>Since it's ultimately the opinions of other players that will decide your character's Importance, and as such their Rank, Lords will have to learn to wield public opinion carefully, and as such we hope that the game approaches a realistic simulation of the sociological forces inherent in civil administration.</p>
                        </div>
                        <img src="{{ asset( game_combat|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_combat ) }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">
                        <div style="width:80%; margin-left:auto;margin-right:auto;">
                            <p>For the first 25 levels, everything in Brunelleschi is focused on advancement, around half a week of familiarizing yourself with the interface, possibly posting in the forums a bit, and for Lords building a few initial structures. Once characters hit level 20, they begin to unlock additional 'Life' and 'Aggressive' actions as well as their Class Actions.</p>

                            <h3>Declaring Enmity</h3>
                            <p>By choosing the forum action 'Declare Enmity' and then selecting a target settlement and a character, the groundwork for a duel is established. This sets the relationship between the two characters to 'Enemies' and allows the declaration of duels in the future.</p>

                            <p>There are a large variety of Relationship statuses that characters can have, including Enemies, Neutral, Friends, Lovers, Handfasted, and Married. The latter two options require assistance from a pagan Caster and member of the Clergy respectively.</p>

                            <h3>Challenging an Enemy to a Duel</h3>
                            <p>Once you've declared an enemy and reached level 25 it becomes possible to launch a duel challenge. The other player must accept the duel for combat to initiate, if they refuse they will lose importance relative to the level difference between your characters. If you challenge much lower characters to duels, they can refuse without penalty.</p>

                            <h3>Keeping track of Duels</h3>

                            <p>Characters can always see their active duels and challenges from the 'Duel' tab on their home screen, as well as in their personal forum menu.</p>

                            <h3>Fighting The Duel</h3>

                            <p>Once the duel is accepted, the characters will have options based on their equipment, but at the very minimum the option for 'Close Combat' will always be available, even to unarmed characters. If both characters have chosen a strategy, the round is calculated and the next round's strategy is chosen. This repeats until 10 rounds have passed or someone dies.</p>

                            <h3>Hits and Damage</h3>
                            <p>The character's attributes are calculated to determine hits and damage per round, with a variety of factors such as ranged attacks, spell damage, and melee attacks factored in and displayed in the forum.</p>

                            <img src="{{ asset( combat_image )|apply_filter("screenshot-combat") }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 10px; display:block;margin-left:auto;margin-right:auto;">

                            <h3>And on to War</h3>
                            <p>As characters advance beyond level 50 non-consensual PvP becomes possible as Lords gain 'Military Action'. This complex action invokes the 'Military Council' and enables Lords to assemble their Brigades of soldiers. Lords can always train 'Peers' from the population as troops, and Commander classes are able to train Peasants and Yeoman, but these civilian units will be no match for the units produced in an actual training ground. Heroes will have to wait until somewhere between level 150-250 to gain 'Military Action', and the Regiments they lead will allow somewhat less troop variety than Lordly Brigades.</p>

                            <img src="{{ asset( equip_unit )|apply_filter("screenshot-equip-unit") }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 10px; display:block;margin-left:auto;margin-right:auto;">

                            <p>Sovereigns and Minsters have a great deal of control over troop recruitment, and can theoretically turn a profit training and selling units to their Citizens and Allies.</p>

                            <p>Of course, in order to use any of these shiny soldiers against anyone, it will usually be necessary to declare some sort of official war. The Chivalric culture of the Renaissance doesn't really allow for 'Sneak Attacks', though certain higher level characters will be able to flout those rules.</p>

                            <h3>Errant Raids, on the other hand...</h3>
                            <p>Once Lord character hit level 75 they will be able to 'Errant Raid' any settlement in the game, including their own! This can have catastrophic effects on the security of the region, but some Sovereigns may choose to turn a blind eye to their Minsters' raids, or even engage in such things themselves. Errant Raiding a foreign settlement will have negative effects on the Standings between the two settlements, and can serve as a precursor to War. Sovereigns should take care to ensure that their Citizens don't spoil existing treaties with opportunistic raiding.</p>

                            <h3>Competitive Scenarios and War</h3>
                            <p>Competitive Scenarios introduce some friction into the prosaic world of Brunelleschi, asking players to pick a side, Contributing or Detracting from scenarios with their Attributes. The Scenario will have a Threshold, a target number for both attributes that must hit + or - 100% for the Scenario to End.</p>

                            <p>Players can wind up spending a lot of action points this way, and as such the Scenarios usually don't have much in the way of Contribution or Detraction rewards. Only the team able to push the Scenario to the finish line will get completion rewards, and sometimes this will also come with penalties for the losing team. Additionally, the bonus (or penalty) from completion for the whole Settlement or possibly the entire World will be determined by the outcome. </p>

                            <img src="{{ asset( scenario_image )|apply_filter("screenshot-competitive-scenario") }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 10px; display:block;margin-left:auto;margin-right:auto;">

                                <p>Some Scenarios create week-long advantages for the winning team, and could be essential to upsetting the balance of power! Other scenarios have greater rewards for the outcome that penalizes the settlement, allowing a small group of players to gain advantage at the expense of everyone else in the Settlement.</p>

                            <h3>Military Scenarios</h3>

                            <p>Military Scenarios are by nature competitive, and will be one of the major uses for high leveled Characters' Action Points. It takes some amount of AP and has potentially other costs which are required for each contribution, and a single Character, even a powerful one, isn't able to make much of a dent in a battle even without active defenders.  Joining in on an attack against an actively defended target would necessitate defeating one such defender in combat before getting to complete a contribution each time.</p>
                            <h4>Large wars will consist of thousands of players in dozens of active scenarios.</h4>

                            <p>You'll need dozens of powerful Heroes and Lords to accomplish even the simplest of Assaults, and that's without any Resistance! Combat favors the Defenders numerically, but then they have nothing to gain and everything to lose.</p>

                            <p>If a combat Scenario ends without completion, we'll have failed to assault and worked ourselves into a quagmire even without resistance. The ensuing 'Standoff' scenario would give the defenders a chance to jump on our mistake and do some damage.</p>
                        </div>

                        <img src="{{ asset( game_trade|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_trade ) }}"  class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">
                        <div style="width:80%; margin-left:auto;margin-right:auto;">
                            <h3>One of the most interesting aspects of Brunelleschi is the open economy.</h3>
                            <p>The trade and bartering system let you trade any of your Resources, Goods, Equipment or shiny Currency between almost anyone. This lets players design a huge variety of economy styles. However, open trade also leads to a complicated market so here are some of the major points:</p>

                                <p>Everything that can be traded (Resources, Goods, Equipment and Currency) we will call an “Item”.</p>

                            <p>You can get Items in Brunelleschi in a variety of ways:</p>

                            <ul>
                                <li>Actions</li>
                                <li>Buildings</li>
                                <li>Scenarios</li>
                                <li>Markets</li>
                                <li>Trades</li>
                                <li>Donations</li>
                                <li>Taxation</li>
                            </ul>

                            <p>While not every action, building, or scenario will give you items, a lot of them do. Doing actions and participating in larger Scenarios are a great way to collect items, but the most reliable way is to own a building that makes them. The items made by Harvesting, Processing, Crafting, and Currency buildings will go into their owner’s inventory unless your production is taxed.</p>

                             <p>Through the markets and direct trades, characters can sell and trade any item for any other item.</p>

                            <img src="{{ asset( markets_image )|apply_filter("screenshot-markets") }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 10px; display:block;margin-left:auto;margin-right:auto;">

                             <p>There are multiple types of taxation options in the game, which allow a Sovereign to dictate the flow of items in their settlement.  Through the Manage->Government menu, a sovereign may choose to set a specific tax rate on the output of Harvesting buildings and a separate rate for Processing buildings; these route a percentage of the output from those buildings to the Sovereign even if they are overseen by a Minister or even privately owned.</p>

                              <p>A Sovereign may set these rates to 0% to allow Ministers and residents to keep and manage all of their building output, or may even set it to 100% to ensure that all such output is routed to the Sovereign's stores.</p>

                              <p>In addition to building output, a Sovereign may choose to tax imports into and exports out of their settlement.  When import or export taxes are set, the tax price is added to effected market orders and the taxed amount is automatically routed to the tax issuing Sovereign.</p>

                               <p>Action output may also be taxed by a Sovereign, meaning that a portion of the item rewards for every action taken within their settlement are routed to the Sovereign.</p>

                               <p>Ministers may also Harvesting and Processing tax rates which apply only to their District and which are determined after Sovereign taxation is taken into account.</p>

                            <img src="{{ asset( taxation_report ) }}" class="img-rounded" style="width: 80%;  margin-top: 0px; margin-bottom: 10px; display:block;margin-left:auto;margin-right:auto;">

                               <p>All these various mechanisms for exchanging items allow each settlement to determine and regulate an economy suited to it specifically.  On a personal note, I very much look forward to seeing the various types of setups people put together and administer in their own settlements, as well as what kind of economic setups non-Sovereigns will seek out to live in.</p>
                        </div>

                            <img src="{{ asset( game_unity|replace({'png':'svg'}) ) }}" onerror="{{ asset( game_unity ) }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; display:block">
                        <div style="width:80%; margin-left:auto;margin-right:auto;">
                        <p>One of the goals of Brunelleschi is accessibility.  While some gamers are perfectly comfortable with the data driven web interface, having a first-person 3D interface for the game world would open up the game play experience to a much wider range of player personalities. This would increase the richness of experience for all players due to the social nature of the game.</p>
                        <p>Even learning Unity 3D as we develop and without a budget for assets, we have been able to develop the initial stages of a first-person 3D client for Brunelleschi which allows players to login to the game, render their game Settlement in the 3D environment, and interact with game functions through an internal web browser.</p>
                        <p>While we will continue some development of the Unity client regardless of the outcome of our fundraising efforts, accelerating and expanding development of the 3D client for the game is one of the top priorities for any funds we might receive.</p>
                        <img src="{{ asset( unity_shop )|apply_filter("screenshot-unity-alchemist-shop") }}" class="img-rounded" style="width: 90%;  margin-top: 0px; margin-bottom: 0px; margin-left:auto;margin-right:auto;display:block"></div>
                    </div>
                </div>
                {# Info Panel 6 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="stretch">Stretch Goals</h3>
                    </div>
                    <div class="panel-body" id="stretch-div">
                    </div>
                </div>
                {# Info Panel 7 #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="rewards">Selected Perk Packages</h3>
                    </div>
                    <div class="panel-body">
                        {% for image in rewards_images %}
                            <img src="{{ asset( image|replace({'png':'svg'}) ) }}" onerror="{{ asset( image ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 10px; margin-bottom: 0px; display:block">
                        {% endfor %}
                    </div>
                </div>

                {# Info Panel Future Games #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Future Games</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( games|replace({'png':'svg'}) ) }}" onerror="{{ asset( games ) }}" class="img-rounded" style="width: 100%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                    </div>
                </div>

                {# Info Panel LAST Call to Action #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">How You Can Help</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ asset( help_image|replace({'png':'svg'}) ) }}" onerror="{{ asset( help_image ) }}" class="img-rounded" style="width: 90%; margin-left:auto;margin-right:auto; margin-top: 0px; margin-bottom: 0px; display:block">
                        <p>Thank you for reading about Aesop Games and Brunelleschi: Age of Architects!  Please, keep in mind that whether you are able to contribute today or not <b>you can still help</b>!  Getting the word out is a vital part of this process, and we can't do it alone!</p>
                        <p>We know there are folks out there who would really enjoy helping us make new interesting games and then playing them - if only they knew we existed!  So please, if you like something about what we're doing, help us spread the word! </p>
                        <ul>
                            <li>Tell folks about what we're doing!</li>
                            <li>Share this campaign through the built in options!</li>
                            <li>And point your gamer friends at our beta - the more players the better!</li>
                        </ul>

                        <div style="margin-left:auto;margin-right:auto;width:200px;text-align:center">
                            <a href="http://twitter.com/share?text=Support games like #brunegame made by folks who want you to love playing them! And checkout @brunegame now!&url=http://aesopgames.com/app.php/support" target="_blank" title="Share This on Twitter">
                                <img src="{{ asset( twitter_image ) }}" style="width:64px; height: 64px">
                            </a>

                            <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u=http://aesopgames.com/app/php/support'+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                            <a href="http://www.facebook.com/share.php?u=<full page url to share>" onClick="return fbs_click()" target="_blank" title="Share This on Facebook"><img src="{{ asset( facebook_image ) }}" alt="facebook" width="64" height="64" border="0" /></a>

                            <a href="https://plus.google.com/share?url=http://aesopgames.com/app.php/support" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
                                        src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+" title="Share This on Google+"/></a>
                        </div>
                        <p>Thank you for reading!</p>
                        <p>Please, get in touch if you have any questions or feedback :)</p>
                    </div>
                </div>
                {# Info Panel LAST Call to Action #}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Footnotes</h3>
                    </div>
                    <div class="panel-body">
                        <small>*Private Server: Your server will be specially branded as a Brunelleschi: Private Server. We won’t remove this branding but we’ll be happy to add your logo and images within reason. If for some reason you use your Brunelleschi Server to violate US Law we will have to cancel service and take the server down. Violation of certain sections of the ToS will also cause your server to be shut down, as our company will not support Hate Speech or other overtly objectionable uses of the software. If you have specific questions please contact us about your intended use case and we’ll let you know if there are any potential problems.</small>
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-md-4 text-center">
                <div class="alert alert-success" style="border: 2px solid green; opacity: 0.9;">
                    <h2 style="margin:0px;padding:0px;">Supporter Perks</h2>
                </div>
                <div id="perks-div"></div>
            </div>
        </div>
    </div> <!-- /container -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endblock %}